{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/drop-filter2.css') }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.standalone.min.css" integrity="sha512-xd7mB11XVgROqK55H8H6wqtT6tqizbdG1JctcfVxccY5e1eSao8yqhS+RQc6ps8+w67XdOtIWhqrwYCXr2iE4Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type='text/css' href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <h2>Welcome to OpenSky Analisis App</h2>
  <a class="log-link" href="{{ url_for('logout') }}">
      Log Out {{ current_user.usuario }}
  </a>

  <div id="selection">
    <hr>
    <div class="dropdown">
      <button onclick="dropSelect()" class="dropbtn" id="myButton">Choose Airport</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        {% for nombre in airports %}
          <a class="input-airport" id="{{ airports.get(nombre) }}">{{ nombre }}</a>
        {% endfor %}
      </div>
    </div>

    <input class="datepicker" type="text" id="dateInic" onchange="changeDate()" placeholder="Choose duration">
    <img id="cargando" style="position: absolute; width: 100px; padding-left: 10px; display: none;" src="{{ url_for('static', filename='/imagenes/cargaV2.3.gif') }}" alt="Cargando...">

    <table id="table-arrivals" class="table footable footable-1 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint breakpoint-sm" data-paging="true" data-filtering="true" data-sorting="true" style="display: table; table-layout: fixed;"></table>
  </div>



  <script type="text/javascript" src="{{ url_for('static', filename='/js/drop-filter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='/js/table2.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.min.js" integrity="sha512-aVkYzM2YOmzQjeGEWEU35q7PkozW0vYwEXYi0Ko06oVC4NdNzALflDEyqMB5/wB4wH50DmizI1nLDxBE6swF3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='/js/load.js') }}"></script>

{% endblock %}
