{% extends "base.html" %}

{% block content %}
<h1><span>Sing Up</span></h1>
<img class="img-center" src="{{ url_for('static', filename='imagenes/login_ico.png') }}" width="150px" height="150px">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">

<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="input-container">
        {% for error in form.username.errors %}
        <span class="errorLog" style="color: red;">User name already taken</span>
        {% endfor %}
        {{ form.username(size=32) }}
        <label id="user">User</label>
    </div>

    <div class="input-container">
        {% for error in form.email.errors %}
        <span class="errorLog" style="color: red;">Invalid email</span>
        {% endfor %}
        {{ form.email(size=64) }}
        <label id="email">Email</label>
    </div>
    <div class="input-container">
        {% for error in form.password2.errors %}
        <span class="errorLog" style="color: red;">Passwords mismatch</span>
        {% endfor %}
        {{ form.password(size=32) }}
        <label id="pass">Password</label>
    </div>
    <div class="input-container">
        {% for error in form.password.errors %}
        <span class="errorLog" style="color: red;">*</span>
        {% endfor %}
        {{ form.password2(size=32) }}
        <label id="verificar-pass">Repeat password</label>
    </div>


    <p>{{ form.submit(class="btn-reg", id="btn-regid") }}</p>
</form>

<div class="text-center-reg">
    <span class="cuenta1">
        Already have an account?
    </span>

    <a class="cuenta2" href="{{ url_for('login') }}">
        Log-In
    </a>
</div>

{% endblock %}