{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/drop-filter.css') }}"/>
  <div class="header">
      <div class="header_text">
        Hi, {{ current_user.usuario }}! Welcome to OpenSky Analisis App
      </div>
  </div>

  <form>
    <input class="chosen-value" type="text" value="" placeholder="Type to filter">
      <ul class="value-list">
        {% for nombre in airports %}
          <li id="{{ airports.get(nombre) }}">{{ nombre }}</li>
        {% endfor %}
      </ul>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/drop-filter.js') }}"></script>
{% endblock %}
